html,body{
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.3;
}

img {
    vertical-align: middle;
}
ul,ol{
    padding: 0;
    margin: 0;
}
ul li, ol li{
    list-style: none;
}

a {
    color: #1c1e1f;
    text-decoration: none;
}

.aniview{
    animation-duration:1.2s;
    -webkit-animation-duration:1.2s; /* Safari 和 Chrome */
}

::-webkit-scrollbar {
    width: 5px;
    height: 16px;
    background-color: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-track {
    background-color: rgba(214, 214, 214, 0.46);
}

/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb {
    background-color: #1a2434;
}


@media (min-width: 992px) {
    #header .navbar {
        overflow: visible;
    }
    #header .navbar-inner {
        margin-top: 30px;
    }

    /* logo */
    #header .logo {
        height: 40px;
        margin-top: -5px;
    }

    /* Main menu */
    .megamenu-width {
        position: relative;
    }

    #main-menu {
        clear: none;
        background: transparent;
        display: block !important;
        font-size: 0;
        margin: 0;
        padding: 0;
        float: right;
        text-align: left;
        z-index: 1;
    }
    #main-menu > li {
        position: relative;
        display: inline-block;
        vertical-align: top;
        padding-bottom: 30px;
        margin: 0;
    }
    #main-menu > li.megamenu {
        position: static;
    }
    #main-menu  li.search-nav {
        display: inline-block;
    }
    #main-menu > li:before {
        display: none;
    }
    #main-menu ul.dropdown > li > a {
        padding: 10px 15px;
    }
    #main-menu > li.megamenu ul.dropdown .nav ul li a {
        padding: 10px 0;
    }
    #main-menu > li > a {
        color: #2d343e;
        text-transform: uppercase;
        font-weight: bold;
        padding: 0 10px;

        -webkit-box-sizing: content-box;
        -moz-box-sizing: content-box;
        box-sizing: content-box;
        line-height: 25px;
    }
    #main-menu > li > a.btn-search {
        font-size: 20px;
        line-height: 25px;
    }
    #main-menu > li:first-child a {
        border-left: none;
    }
    #main-menu > li:last-child a {
        padding-right: 0;
    }

    /* Carret */
    #main-menu > li > a i.carret {
        line-height: 25px;
        position: relative;
        display: inline-block;
        vertical-align: middle;
        margin-left: 5px;
        width: auto;
        font-style: normal;
        font-weight: normal;
    }
    #main-menu > li > a i.carret:after {
        font-family: FontAwesome;
        content: "\f107";
    }
    #main-menu li.active > a > i.carret {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }

    /* Link Description */
    #main-menu > li > a span {
        font-weight: normal;
        font-style: italic;
        margin-top: 5px;
        font-size: 12px;
        clear: both;
        display: block;
        font-weight: normal;
        text-transform: none;
        color: #888;
        position: absolute;
        white-space:nowrap;
        line-height: 1;
        opacity: 0;
        top: 50%;

        -webkit-transition: all ease-out 0.2s;
        transition: all ease-out 0.2s;
    }
    #main-menu ul.dropdown {
        display: block;
        visibility: hidden;
        opacity: 0;
        position: absolute;
        top: 100%;
        margin: 0;
        min-width: 230px;
    }
    #main-menu > li.megamenu > ul.dropdown {
        width: 100%;
        left: 0;
        right: 0;
    }
    #main-menu > li.megamenu > ul.dropdown > li {
        padding-left: 15px;
        padding-right: 15px;
    }
    #main-menu > li > ul.dropdown {
        padding-top: 5px;
    }
    #main-menu > li.rtl > ul.dropdown {
        right: 0;
    }
    #main-menu li:hover > ul.dropdown {
        visibility: visible;
        opacity: 1;

        -webkit-transition: all ease-out 0.2s;
        transition: all ease-out 0.2s;
    }
    #main-menu li:hover.rtl > ul.dropdown {
        right: 0;
    }
    #main-menu ul.dropdown > li {
        list-style-type: none;
        position: relative;
        text-transform: none;
        background-color: rgba(45, 52, 62, 0.9);
    }
    #main-menu  > li.megamenu ul.dropdown ul.dropdown > li {
        padding-right: 15px;
        padding-left: 15px;
    }
    #main-menu ul.dropdown > li:first-child:before {
        display: none;
    }
    #main-menu ul.megamenu-category > li {
        float: left;
        width: 100%;
    }
    #main-menu ul.megamenu-category .category-content {
        margin: 15px 0;
    }
    #main-menu ul.dropdown > li > a i.carret:after {
        content: "\f105";
    }
    #main-menu ul.dropdown ul.dropdown {
        top:0;
        left: 100%;
        padding-left: 5px;
        padding-top: 0 !important;
    }
    #main-menu > li.rtl ul.dropdown ul.dropdown,
    #main-menu ul.dropdown.rtl ul.dropdown {
        left: auto;
        right: 100%;
        padding-left: 0;
        padding-right: 5px;
    }

    /* Main menu slide effect */
    #main-menu.slide ul.dropdown {
        margin-left: 15px;
    }
    #main-menu.slide > li.rtl > ul.dropdown,
    #main-menu.slide > li.rtl ul.dropdown ul.dropdown,
    #main-menu.slide ul.dropdown.rtl ul.dropdown {
        margin-left: inherit;
        margin-right: 15px;
    }
    #main-menu.slide li:hover > ul.dropdown {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    /* Main menu full width */
    #main-menu.full-width {
        display: table !important;
        width: 100%;
    }
    #main-menu.full-width > li {
        display: table-cell;
        vertical-align: top;
        padding-top: 15px;
    }

    /* Main menu minimal */
    #main-menu.minimal > li > a {
        text-transform: lowercase;
        border-left: none;
        font-weight: normal;
    }

    /* Drop Down background */
    #custom-nav-bg {
        width: 100%;
        position: absolute;
        top: 100%;
        background-color: rgba(45, 52, 62, 0.9);

        -webkit-transition: height ease 0.1s;
        transition: height ease 0.1s;
    }
    #custom-nav-bg:hover {
        height: 0;
    }
    #main-menu.custom ul.dropdown {
        padding-top: 0;
    }
    #main-menu.custom ul.dropdown > li {
        background-color: transparent;
        padding: 0;
    }
    #main-menu.custom > li.megamenu > ul.dropdown > li {
        padding-left: 10px;
        padding-right: 10px;
    }
    #main-menu.custom ul.dropdown > li > a {
        padding-left: 10px;
        padding-right: 10px;
    }
    #main-menu.custom ul.megamenu-category nav a {
        padding-left: 10px;
    }

    /* Mobile menu */
    #mobile-menu {
        display: none;
    }
}

@media (max-width: 1450px) {
    #backTop_box{
        right: 0!important;
    }
}


@media (max-width: 1200px){
    #main-content article .article-info {
        padding: 1em 2.2em 3em !important;
    }
}


@media (max-width: 991px) {

    #header {
        position: relative !important;
    }
    .mobile-navbar {
        display: block;
    }
    .topbar {
        display: none;
    }
    #header-space {
        display: none;
    }
    #header .navbar-inner {
        margin-top: 10px !important;
    }
    #header .logo {
        height: 30px !important;
    }
    #main-menu > li {
        padding-bottom: 0 !important;
    }
    #main-menu ul.dropdown.megamenu {
        width: 100% !important;
        left: 0	!important;
        right: 0 !important;
    }

    #backTop_box{
        display: none!important;
    }
}

@media (max-width: 980px) {
    #main-content{
        padding: 4rem 0;
    }

    #main-content article .article-meta span {
        width: 100%;
    }

    #main-content article .article-info .readArticle a:hover {
        transition: none;
    }

    #main-content article .article-meta {
        padding: 5px 0 0px;
    }
}
@media (max-width: 770px) {

    #main-content section{
        padding: 0px 15px;
    }
}
@media (max-width: 750px) {

    #main-content article {
        font-size: 1.4rem;
    }

    #main-banner .banner-mask h2 {
        font-size:2.0em
    }

    #main-content article .article-info .article-content .article_title {
        font-size: 2.3rem;
    }

}


pre {
    display: block;
    padding: 9.5px;
    /*margin: 0 0 10px;*/
    font-size: 1em;
    line-height: 1.42857143;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
}
pre {
    overflow: auto;
}
code, kbd, pre, samp {
    font-family: Comic Sans MS,curslve,sans-serif;
}
/*前端代码块滚动条(横向)===============start*/
pre::-webkit-scrollbar {
    height: 8px;
    background-color: rgba(0, 0, 0, 0);
}

pre::-webkit-scrollbar-track {
    -webkit-box-shadow: none;
    border-radius: 0px!important;
    background-color: rgba(214, 214, 214, 0.46);
}

/*定义滑块 内阴影+圆角*/
pre::-webkit-scrollbar-thumb {
    border-radius: 0px!important;
    -webkit-box-shadow: none;
    background-color: #a5a5a5;
}
/*前端代码块滚动条(横向)===============start*/

#backTop_box {
    position: fixed;
    z-index: 999;
    height: 100%;
    right: 60px;
    bottom: 150%;
    -webkit-transition: all 500ms;
    -moz-transition: all 500ms;
    -ms-transition: all 500ms;
    -o-transition: all 500ms;
    transition: all 500ms;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}


#backTop_box .backTop{
    position: relative;
    /*cursor: pointer;*/
    /*bottom: 0px;*/
    /*background-image: url(../images/back-top.png);*/
    /*background-size: 100px auto;*/
    /*background-repeat: no-repeat;*/
    /*width: 100px;*/
    /*height: 300px;*/
}

#backTop_box .backTop > button{
    position: absolute;
    bottom: 0;
    width: 90px;
    height: 140px;
    background: transparent;
    border: 0;
    outline: none;
}