body {
    font-family: "opensans", "Optima", "Microsoft Yahei", sans-serif;
    /*font-size: 62.5%;*/
    color: #777777;
}

.fade {
    opacity: 0;
    -webkit-transition: opacity .15s linear;
    transition: opacity .15s linear;
}

.fade.in {
    opacity: 1;
}

.collapse {
    display: none;
}

.collapse.in {
    display: block;
}

.collapsing {
    position: relative;
    height: 0;
    overflow: hidden;
    -webkit-transition: height .35s ease;
    transition: height .35s ease;
}

#header {
    width: 100%;
    float: left;
    z-index: 1500;
    position: relative;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden; /* Chrome and Safari */
    -ms-backface-visibility: hidden; /* Internet Explorer */
}

#header.sticky {
    position: fixed;
    top: 0;
    left: 0;
}

/* Navbar */
#header .navbar {
    width: 100%;
    float: left;
    background-color: #f9f9f9;
    position: relative;
    overflow: hidden;
    z-index: 1;
    background: rgba(243, 243, 243, 1);
    box-shadow: 0 2px 6px rgba(26, 36, 52, .5);
    -webkit-box-shadow: 0 2px 6px rgba(26, 36, 52, .5);
}

/* Navbar wrap */
#header .navbar-inner {
    margin-top: 10px;
    float: left;
    width: 100%;
    position: relative;
    -webkit-transition: all .35s ease;
    transition: all .35s ease;
}

/* logo */
#header .logo {
    display: inline-block;
    float: left;
    height: 30px;
    margin-bottom: 10px;
    -webkit-transition: all .35s ease;
    transition: all .35s ease;
}

#header .text-center > .logo {
    float: none;
}

#header .logo img {
    width: auto;
    height: auto;
    display: block;
    max-height: 100%;
    max-width: 100%;
}

/* Main menu */
#main-menu {
    overflow: visible;
    text-align: left;
    background-color: #2d343e;
    margin: 0;
    padding-right: 5000px;
    padding-left: 5000px;
    margin-left: -5000px;
    margin-right: -5000px;
    clear: both;
}

#main-menu > li,
#main-menu ul.dropdown > li {
    list-style-type: none;
    font-size: 14px;
    line-height: 20px;
    -webkit-transition: all .35s ease;
    transition: all .35s ease;
}

#main-menu ul.dropdown > li {
    font-size: 13px;
}

#main-menu li.search-nav {
    display: none;
}

#main-menu > li:before,
#main-menu ul.dropdown > li:before {
    height: 1px;
    display: block;
    content: '';
    width: 100%;
    background: #fff;
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(241, 241, 241, 0)), color-stop(33%, rgba(241, 241, 241, 1)), color-stop(66%, rgba(241, 241, 241, 1)), color-stop(100%, rgba(241, 241, 241, 0)));
    background: -webkit-linear-gradient(left, rgba(241, 241, 241, 0) 0%, rgba(241, 241, 241, 1) 33%, rgba(241, 241, 241, 1) 66%, rgba(241, 241, 241, 0) 100%);
    background: linear-gradient(to right, rgba(241, 241, 241, 0) 0%, rgba(241, 241, 241, 1) 33%, rgba(241, 241, 241, 1) 66%, rgba(241, 241, 241, 0) 100%);
    opacity: 0.1;
}

#main-menu ul.dropdown nav > ul li:before {
    opacity: 0.1;
}

#main-menu > li:first-child:before,
#main-menu nav > ul li a:after {
    display: none;
}

#main-menu ul.dropdown {
    margin: 0;
    display: none;
}

#main-menu > li > a,
#main-menu ul.dropdown > li > a {
    padding: 10px 0;
    display: block;
    position: relative;
    font-size: 13px;
}

#main-menu > li > a span {
    display: none;
}

#main-menu i.carret {
    position: absolute;
    width: 40px;
    line-height: 40px;
    text-align: center;
    font-style: normal;
    font-size: 18px;
    right: 0;
    top: 0;

    -webkit-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

#main-menu i.carret:after {
    font-family: FontAwesome;
    content: "\f105";
}

#main-menu li > a > i.carret.rotate {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

/* Drop down styles  */
#main-menu ul.dropdown:not(.megamenu-category) {
    color: rgba(255, 255, 255, 0.7);
    line-height: 20px;
}

#main-menu > li:not(.megamenu) > ul.dropdown {
    margin-left: 20px;
}

/* Category */
#main-menu ul.megamenu-category > li {
    display: inline-block;
    width: 100%;
    padding: 0;
}

/* Mobile menu */
#mobile-menu {
    float: right;
    margin: 0;
    margin-bottom: 10px;
}

#mobile-menu li {
    list-style-type: none;
    float: left;
}

#mobile-menu li + li {
    border-left: 1px solid #e5e5e5;
}

#mobile-menu li a {
    color: #2d343e;
    line-height: 30px;
    padding: 0 8px;
    display: block;
}

#mobile-menu li a i {
    line-height: 30px;
    display: block;
    font-size: 20px;
}

.navbar-toggle {
    border: none;
    background: transparent;
    line-height: 30px;
    font-size: 21px;
    padding: 0;
    width: 30px;
    color: #2d343e;
}

.navbar-toggle:active, .navbar-toggle:focus {
    outline: none;
}

/*********************************/
/*********************************/
/***********main-banner***********/
/*********************************/
/*********************************/

#main-banner {
    padding: 0;
    position: relative;
    background: transparent;
    height: 350px;
    width: 100%;
    overflow: hidden;
}

#main-banner .banner-bg-img {
    position: absolute;
    height: 100%;
    width: 100%;
}
.img-carousel{
    width: 100%;
    height: 100%;
}
.img-carousel > div{
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

#main-banner .banner-mask {
    position: absolute;
    z-index: 2;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, .6);
}
.breadcrumb {
    padding: 8px 15px;
    margin-bottom: 20px;
    list-style: none;
    background-color: #f5f5f5;
    border-radius: 4px;
}
.breadcrumb > li + li:before {
    padding: 0 5px;
    color: #ccc;
    content: "/\00a0";
}

#main-banner .banner-mask ul.breadcrumb {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    margin: -3px 0 0;
    padding: 1px 10px;
    position: relative;
    display: inline-block;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    top: -30px;
    filter: alpha(opacity=0);
    opacity: 0;
}
.page-info{
    position: absolute;
    width: 100%;
    bottom: 100px;
}
.breadcrumb > li {
    display: inline-block;
    line-height: 24px;
}
#main-banner .banner-mask ul.breadcrumb > li {
    text-shadow: none;
    color: #DFDFDF;
    font-size: 75%;
}

#main-banner .banner-mask ul.breadcrumb {
    background-color: #e36159 !important;
}

#main-banner .banner-mask h2 {
    background: #2D343E;
    color: #FFF;
    display: inline-block;
    font-weight: 200;
    font-size: 3.2em;
    line-height: 1em;
    position: relative;
    letter-spacing: -2px;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    top: 30px;
    padding: 10px;
    filter: alpha(opacity=0);
    opacity: 0;
    margin: 0;
}

#main-banner .banner-mask ul.breadcrumb, #main-banner .banner-mask h2 {
    filter: alpha(opacity=100);
    opacity: 1;
    top: 0;
    clear: both;
}

/*********************************/
/*********************************/
/***********main-banner***********/
/*********************************/
/*********************************/


/*********************************/
/*********************************/
/***********main-content***********/
/*********************************/
/*********************************/

.col-md-12,.article_title a,article{
    webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.main{
    background: #edeff2;
    position: relative;
}

#main-content {
    /*height: 900px;*/
}

#main-content section{
    padding: 40px 0;
}

#main-content article {
    background: #ffffff;
    display: block;
    font-size:1.6rem;
    margin: 0px 0px 60px;
    overflow: hidden;
    border-radius: 3px 3px 0 0 !important;
}

#main-content .index-article:hover{
    box-shadow: 0px 1px 8px 1.5px rgba(0, 0, 0, .35), 0px 20px 70px 8px rgba(0, 0, 0, 0.25);
}

#main-content article .article-info {
    padding: 30px 60px 60px;
    background-color: #fff;
}

#main-content article .article-info .article-content .article_title {
    font-size: 3rem;
    margin: 20px 0px 10px;
    overflow: hidden;
    word-break: break-all;
    word-wrap: break-word;
}
#main-content article .article-meta {
    padding: 1em 0;
    font-family: Comic Sans MS,curslve,sans-serif;
}

#main-content article .article-meta .article_meta_tags {
    display: inline;
}
#main-content article .article-meta span i {
    padding-right: 5px;
}

#main-content article .article-meta span {
    color: #999;
    font-weight: 700;
    padding-right: 40px;
    float: left;
    display: block;
    line-height: 1.6rem;
    webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

/*********************************/
/*********************************/
/***********main-content***********/
/*********************************/
/*********************************/