<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pro.test.web.dao.mapper.TbHxpCommentMapper" >
  <resultMap id="BaseResultMap" type="com.pro.test.web.entity.TbHxpComment" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="comment_id" property="commentId" jdbcType="VARCHAR" />
    <result column="article_id" property="articleId" jdbcType="VARCHAR" />
    <result column="comment_context" property="commentContext" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="CHAR" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="user_head_portrait" property="userHeadPortrait" jdbcType="VARCHAR" />
    <result column="comment_ip" property="commentIp" jdbcType="VARCHAR" />
    <result column="comment_likes" property="commentLikes" jdbcType="INTEGER" />
    <result column="create_date" property="createDate" jdbcType="DATE" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="update_date" property="updateDate" jdbcType="DATE" />
    <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
    <result column="is_deleted" property="isDeleted" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, comment_id, article_id, comment_context, user_id, user_name, user_head_portrait, 
    comment_ip, comment_likes, create_date, create_by, update_date, update_by, is_deleted
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from tb_hxp_comment
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from tb_hxp_comment
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.pro.test.web.entity.TbHxpComment" >
    insert into tb_hxp_comment (id, comment_id, article_id, 
      comment_context, user_id, user_name, 
      user_head_portrait, comment_ip, comment_likes, 
      create_date, create_by, update_date, 
      update_by, is_deleted)
    values (#{id,jdbcType=VARCHAR}, #{commentId,jdbcType=VARCHAR}, #{articleId,jdbcType=VARCHAR}, 
      #{commentContext,jdbcType=VARCHAR}, #{userId,jdbcType=CHAR}, #{userName,jdbcType=VARCHAR}, 
      #{userHeadPortrait,jdbcType=VARCHAR}, #{commentIp,jdbcType=VARCHAR}, #{commentLikes,jdbcType=INTEGER}, 
      #{createDate,jdbcType=DATE}, #{createBy,jdbcType=VARCHAR}, #{updateDate,jdbcType=DATE}, 
      #{updateBy,jdbcType=VARCHAR}, #{isDeleted,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.pro.test.web.entity.TbHxpComment" >
    insert into tb_hxp_comment
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="commentId != null" >
        comment_id,
      </if>
      <if test="articleId != null" >
        article_id,
      </if>
      <if test="commentContext != null" >
        comment_context,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="userName != null" >
        user_name,
      </if>
      <if test="userHeadPortrait != null" >
        user_head_portrait,
      </if>
      <if test="commentIp != null" >
        comment_ip,
      </if>
      <if test="commentLikes != null" >
        comment_likes,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
      <if test="updateBy != null" >
        update_by,
      </if>
      <if test="isDeleted != null" >
        is_deleted,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="commentId != null" >
        #{commentId,jdbcType=VARCHAR},
      </if>
      <if test="articleId != null" >
        #{articleId,jdbcType=VARCHAR},
      </if>
      <if test="commentContext != null" >
        #{commentContext,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=CHAR},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userHeadPortrait != null" >
        #{userHeadPortrait,jdbcType=VARCHAR},
      </if>
      <if test="commentIp != null" >
        #{commentIp,jdbcType=VARCHAR},
      </if>
      <if test="commentLikes != null" >
        #{commentLikes,jdbcType=INTEGER},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=DATE},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=DATE},
      </if>
      <if test="updateBy != null" >
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="isDeleted != null" >
        #{isDeleted,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pro.test.web.entity.TbHxpComment" >
    update tb_hxp_comment
    <set >
      <if test="commentId != null" >
        comment_id = #{commentId,jdbcType=VARCHAR},
      </if>
      <if test="articleId != null" >
        article_id = #{articleId,jdbcType=VARCHAR},
      </if>
      <if test="commentContext != null" >
        comment_context = #{commentContext,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=CHAR},
      </if>
      <if test="userName != null" >
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userHeadPortrait != null" >
        user_head_portrait = #{userHeadPortrait,jdbcType=VARCHAR},
      </if>
      <if test="commentIp != null" >
        comment_ip = #{commentIp,jdbcType=VARCHAR},
      </if>
      <if test="commentLikes != null" >
        comment_likes = #{commentLikes,jdbcType=INTEGER},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=DATE},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=DATE},
      </if>
      <if test="updateBy != null" >
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="isDeleted != null" >
        is_deleted = #{isDeleted,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pro.test.web.entity.TbHxpComment" >
    update tb_hxp_comment
    set comment_id = #{commentId,jdbcType=VARCHAR},
      article_id = #{articleId,jdbcType=VARCHAR},
      comment_context = #{commentContext,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=CHAR},
      user_name = #{userName,jdbcType=VARCHAR},
      user_head_portrait = #{userHeadPortrait,jdbcType=VARCHAR},
      comment_ip = #{commentIp,jdbcType=VARCHAR},
      comment_likes = #{commentLikes,jdbcType=INTEGER},
      create_date = #{createDate,jdbcType=DATE},
      create_by = #{createBy,jdbcType=VARCHAR},
      update_date = #{updateDate,jdbcType=DATE},
      update_by = #{updateBy,jdbcType=VARCHAR},
      is_deleted = #{isDeleted,jdbcType=INTEGER}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>