<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pro.test.web.dao.mapper.TbHxpUserMapper" >
  <resultMap id="BaseResultMap" type="com.pro.test.web.entity.TbHxpUser" >
    <id column="id" property="id" jdbcType="CHAR" />
    <result column="user_id" property="userId" jdbcType="CHAR" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="publish_count" property="publishCount" jdbcType="INTEGER" />
    <result column="comments_count" property="commentsCount" jdbcType="INTEGER" />
    <result column="like_tags" property="likeTags" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, user_id, user_name, publish_count, comments_count, like_tags
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from tb_hxp_user
    where id = #{id,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from tb_hxp_user
    where id = #{id,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.pro.test.web.entity.TbHxpUser" >
    insert into tb_hxp_user (id, user_id, user_name, 
      publish_count, comments_count, like_tags
      )
    values (#{id,jdbcType=CHAR}, #{userId,jdbcType=CHAR}, #{userName,jdbcType=VARCHAR}, 
      #{publishCount,jdbcType=INTEGER}, #{commentsCount,jdbcType=INTEGER}, #{likeTags,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.pro.test.web.entity.TbHxpUser" >
    insert into tb_hxp_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="userName != null" >
        user_name,
      </if>
      <if test="publishCount != null" >
        publish_count,
      </if>
      <if test="commentsCount != null" >
        comments_count,
      </if>
      <if test="likeTags != null" >
        like_tags,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=CHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=CHAR},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="publishCount != null" >
        #{publishCount,jdbcType=INTEGER},
      </if>
      <if test="commentsCount != null" >
        #{commentsCount,jdbcType=INTEGER},
      </if>
      <if test="likeTags != null" >
        #{likeTags,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pro.test.web.entity.TbHxpUser" >
    update tb_hxp_user
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=CHAR},
      </if>
      <if test="userName != null" >
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="publishCount != null" >
        publish_count = #{publishCount,jdbcType=INTEGER},
      </if>
      <if test="commentsCount != null" >
        comments_count = #{commentsCount,jdbcType=INTEGER},
      </if>
      <if test="likeTags != null" >
        like_tags = #{likeTags,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pro.test.web.entity.TbHxpUser" >
    update tb_hxp_user
    set user_id = #{userId,jdbcType=CHAR},
      user_name = #{userName,jdbcType=VARCHAR},
      publish_count = #{publishCount,jdbcType=INTEGER},
      comments_count = #{commentsCount,jdbcType=INTEGER},
      like_tags = #{likeTags,jdbcType=VARCHAR}
    where id = #{id,jdbcType=CHAR}
  </update>
</mapper>